.container{;
    flex-wrap: wrap;
    max-width: 1366px;
    width: 95%;
    margin: 0 auto;
}
.header-relative{
    position: relative;
}
.header-relative {
    background-image: url(https://jojo.ucoz.org/_ph/1/653638800.jpg);
    width: 100%;
    height: 458px;
    background-position: bottom;
    background-size: cover;
}
.home{
    display: inline-block;
    text-transform: uppercase;
}
.empty{
    display: inline-block;
    background-color: red;
    width: 2px;
    height: 11px;
}
.news{
    display: inline-block;
    text-transform: uppercase;
}
.header-absolute h1{
    text-transform: uppercase;
    font-size: xxx-large;
    color: #551a8b;
}
.header-absolute a{
    font-size: x-large;
}
.header-absolute{
    position: absolute;
    top: 37px;
    left: auto;
    margin-left: 93px;

}
.map {
    display: flex;
    justify-content: center;
}
.map iframe {
    width: 63%;
    margin-top: 15px;
    height: 175px;;
}
.big-title{
    width: 28%;
    margin-top: 25px;
}
.big-title h2 {
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
}
.big-title h5{
    text-transform: uppercase;
    font-size: initial;
    font-weight: 600;
}
.coment{
    display: flex;
    justify-content: flex-start;
    width: 65%;
}
.coment textarea{
    resize: none;
    width: 100%;
    height: 240px;
}
.default{
    display: flex;
}
.list{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 1.5%;
    background-color: lavenderblush;
    width: 35.5%;
}
.list input{
    width: 100%;
    height: 50px;
    border-radius: 6px;
}
.margin-top{
    margin-top: 10px;
}
.right {
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}
button{
    width: 101.7%;
    height: 50px;
    border-radius: 6px;
    background-color: blue;
    color: white;
    margin-top: 8px;
}
.default-icon{
    display: flex;
    margin-top: 15px;
    place-content: space-around;
    text-align: center;
    background-color: gold;
    padding: 1%;
} 
@media(max-width:480px){
    .container{
        background-color:#d69bd7;
    }
    .header-relative{
        height: 200px;
    }
    .header-absolute{
    top: 17px;
    left: auto;
    margin-left: 38px;
    }
    .header-absolute h1{
        font-size: x-large;
    }
    .header-absolute a{
        font-size: small;
    }
    .empty{
        height: 9px;
    }
    .list{
        background-color:#d69bd7 ;
        width: 30%;
    }
    .big-title{
        width: 77%;
    }
    .big-title h2{
        font-size: larger;
    }
    .big-title h5{
        font-size: x-small;
    }