.first-div{
    position: relative;
 background-image:url(../img/1.jpg);
width: 100%;
height: 280px;
background-size: cover;
background-position: center;
}
.absolute2{
    position: absolute;
    top: 76px;
    left: 96px;
    right: 493px;
}
.block-color{
    height: 100%;
    width: 100%;
    background-color:rgba(255, 0, 0, 0.4)
}
.block-color button{
    background-color: rgba(0, 255, 0, 1);
}
/* axali */
.first img{
    height: 200px;
}
.second img{
    height: 207px;
}
.thirth img{ 
    height: 231px;
}
.second-div{
    display: inline-block;
}
.first2 img{
    height: 389px;
}
.first2 p{
    position: absolute;
    width: 500px;
    top: 0px;
}
.second2 img {
    height:345px
}
.second2 p { position: absolute;
    top: 0px;  
    width: 500px;

}
.three-div{
    display: inline-block;
    width: 700px;
    
}
.second-div{
    width: 571px;
    float: right;
    padding-top: 68px;
}
.first p{
    width: 540px;
    float: right;
}
.second p{
    width: 540px;
    float: right;
}
.thirth p{
    width: 540px;
    float: right;
}
.first2{
    position: relative;
}
.second2 {
    position: relative;
}
